.elementor-2 .elementor-element.elementor-element-e0cc70d {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --padding-top: 100px;
  --padding-right: 0px;
  --padding-bottom: 267px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-9758d69 {
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --padding-top: 15px;
  --padding-right: 15px;
  --padding-bottom: 5px;
  --padding-left: 15px;
}

.elementor-2 .rigth-to-left .elementor-element.elementor-element-f50f08d {
  --background-transition: 0.3s;
  --padding-top: 15px;
  --padding-right: 15px;
  --padding-bottom: 15px;
  --padding-left: 15px;
}

.elementor-2 .elementor-element.elementor-element-0497f15>.elementor-widget-container {
  margin: 0px 0px 28px 0px;
}

.elementor-2 .elementor-element.elementor-element-629075d {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 90px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-7abf57e {
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --background-transition: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-1c2d6e3 {
  --align-items: flex-start;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --padding-top: 15px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-1c2d6e3.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}

.elementor-2 .elementor-element.elementor-element-bea6683 {
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-663e031>.elementor-widget-container {
  margin: 0px 0px 15px 0px;
}

.elementor-2 .elementor-element.elementor-element-af34b61>.elementor-widget-container {
  padding: 0px 50px 0px 0px;
}

.elementor-2 .elementor-element.elementor-element-9fbc641 {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 64px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-849f64e {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-e38232f {
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-152ed0e {
  --align-items: flex-start;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-152ed0e.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}

.elementor-2 .elementor-element.elementor-element-8412c2e {
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-092659b {
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px;
  --background-transition: 0.3s;
  --margin-top: 50px;
  --margin-right: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-ec79b7e {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --padding-top: 20px;
  --padding-right: 0px;
  --padding-bottom: 118px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-d8f3824 {
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 62px;
  --margin-left: 0px;
  --padding-top: 15px;
  --padding-right: 15px;
  --padding-bottom: 15px;
  --padding-left: 15px;
}

.elementor-2 .elementor-element.elementor-element-6f325df {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --padding-top: 83px;
  --padding-right: 0px;
  --padding-bottom: 100px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-88ae93b {
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 5px;
  --margin-left: 0px;
  --padding-top: 15px;
  --padding-right: 15px;
  --padding-bottom: 15px;
  --padding-left: 15px;
}

.elementor-2 .elementor-element.elementor-element-7011595 {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --padding-top: 74px;
  --padding-right: 0px;
  --padding-bottom: 100px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-1adc3da {
  --gap: 0px;
  --background-transition: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-a5389d5 {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 146px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-7615eba {
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --background-transition: 0.3s;
}

.elementor-2 .elementor-element.elementor-element-c3ac371 {
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-ec830ab {
  --align-items: flex-start;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --background-transition: 0.3s;
  --margin-top: 0px;
  --margin-right: 0px;
  --margin-bottom: 0px;
  --margin-left: 0px;
  --padding-top: 15px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-ec830ab.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}

.elementor-2 .elementor-element.elementor-element-48eb5c0 {
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-d878d66>.elementor-widget-container {
  margin: 0px 0px 32px 0px;
}

.elementor-2 .elementor-element.elementor-element-5174938 {
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --gap: 0px;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-5d121ba {
  --flex-direction: row;
  --container-widget-width: initial;
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-766fe43 {
  --e-image-carousel-slides-to-show: 3;
}

.elementor-2 .elementor-element.elementor-element-766fe43 .elementor-swiper-button.elementor-swiper-button-prev,
.elementor-2 .elementor-element.elementor-element-766fe43 .elementor-swiper-button.elementor-swiper-button-next {
  color: #000000;
}

.elementor-2 .elementor-element.elementor-element-766fe43 .elementor-swiper-button.elementor-swiper-button-prev svg,
.elementor-2 .elementor-element.elementor-element-766fe43 .elementor-swiper-button.elementor-swiper-button-next svg {
  fill: #000000;
}

.elementor-2 .elementor-element.elementor-element-766fe43 .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.elementor-2 .elementor-element.elementor-element-766fe43 .swiper-wrapper {
  display: flex;
  align-items: center;
}

.elementor-2 .elementor-element.elementor-element-766fe43 .elementor-image-carousel-caption {
  text-align: center;
}

.elementor-2 .elementor-element.elementor-element-e9e279d {
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-418e4e8 {
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-02003e7 {
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-2068b46 {
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-ead845c {
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

.elementor-2 .elementor-element.elementor-element-3458cc7 {
  --background-transition: 0.3s;
  --padding-top: 0px;
  --padding-right: 0px;
  --padding-bottom: 0px;
  --padding-left: 0px;
}

@media(min-width:768px) {
  .elementor-2 .elementor-element.elementor-element-f50f08d {
    --content-width: 860px;
  }

  .elementor-2 .elementor-element.elementor-element-1c2d6e3 {
    --width: 31.5%;
  }

  .elementor-2 .elementor-element.elementor-element-1c2d6e3 {
    --width: 40%;
  }

  .elementor-2 .elementor-element.elementor-element-bea6683 {
    --width: 68.5%;
  }

  .elementor-2 .elementor-element.elementor-element-152ed0e {
    --width: 100%;
  }

  .elementor-2 .elementor-element.elementor-element-ec830ab {
    --width: 33%;
  }

  .elementor-2 .elementor-element.elementor-element-48eb5c0 {
    --width: 67%;
  }

  .elementor-2 .elementor-element.elementor-element-5174938 {
    --content-width: 779px;
  }

  .elementor-2 .elementor-element.elementor-element-e9e279d {
    --width: 50%;
  }

  .elementor-2 .elementor-element.elementor-element-418e4e8 {
    --width: 50%;
  }

  .elementor-2 .elementor-element.elementor-element-02003e7 {
    --width: 50%;
  }

  .elementor-2 .elementor-element.elementor-element-2068b46 {
    --width: 50%;
  }

  .elementor-2 .elementor-element.elementor-element-ead845c {
    --width: 50%;
  }

  .elementor-2 .elementor-element.elementor-element-3458cc7 {
    --width: 50%;
  }
}

@media(max-width:1024px) and (min-width:768px) {
  .elementor-2 .elementor-element.elementor-element-f50f08d {
    --content-width: 100%;
  }

  .elementor-2 .elementor-element.elementor-element-1c2d6e3 {
    --width: 100%;
  }

  .elementor-2 .elementor-element.elementor-element-bea6683 {
    --width: 100%;
  }

  .elementor-2 .elementor-element.elementor-element-152ed0e {
    --width: 100%;
  }

  .elementor-2 .elementor-element.elementor-element-092659b {
    --content-width: 1024px;
  }

  .elementor-2 .elementor-element.elementor-element-ec830ab {
    --width: 100%;
  }

  .elementor-2 .elementor-element.elementor-element-48eb5c0 {
    --width: 100%;
  }

  .elementor-2 .elementor-element.elementor-element-5174938 {
    --content-width: 1024px;
  }
}

@media(max-width:1024px) {
  .elementor-2 .elementor-element.elementor-element-e0cc70d {
    --padding-top: 60px;
    --padding-right: 0px;
    --padding-bottom: 122px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-9758d69 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: -10px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-f50f08d {
    --padding-top: 0px;
    --padding-right: 15px;
    --padding-bottom: 15px;
    --padding-left: 15px;
  }

  .elementor-2 .elementor-element.elementor-element-0497f15>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-2 .elementor-element.elementor-element-629075d {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 135px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-7abf57e {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }

  .elementor-2 .elementor-element.elementor-element-1c2d6e3 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: -10px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-af34b61>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }

  .elementor-2 .elementor-element.elementor-element-9fbc641 {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 135px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-849f64e {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }

  .elementor-2 .elementor-element.elementor-element-e38232f {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }

  .elementor-2 .elementor-element.elementor-element-152ed0e {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: -10px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-092659b {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }

  .elementor-2 .elementor-element.elementor-element-ec79b7e {
    --padding-top: 20px;
    --padding-right: 0px;
    --padding-bottom: 85px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-d8f3824 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 30px;
    --margin-left: 0px;
    --padding-top: 15px;
    --padding-right: 15px;
    --padding-bottom: 10px;
    --padding-left: 15px;
  }

  .elementor-2 .elementor-element.elementor-element-6f325df {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 60px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-88ae93b {
    --padding-top: 15px;
    --padding-right: 15px;
    --padding-bottom: 10px;
    --padding-left: 15px;
  }

  .elementor-2 .elementor-element.elementor-element-7011595 {
    --padding-top: 35px;
    --padding-right: 0px;
    --padding-bottom: 45px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-a5389d5 {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 135px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-7615eba {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }

  .elementor-2 .elementor-element.elementor-element-c3ac371 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }

  .elementor-2 .elementor-element.elementor-element-ec830ab {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: -10px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-5174938 {
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
  }

  .elementor-2 .elementor-element.elementor-element-766fe43 {
    --e-image-carousel-slides-to-show: 3;
  }
}

@media(max-width:767px) {
  .elementor-2 .elementor-element.elementor-element-629075d {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 80px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-663e031>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-2 .elementor-element.elementor-element-9fbc641 {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 75px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-e38232f {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 6px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-152ed0e {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-092659b {
    --margin-top: 4px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-d8f3824 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 0px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-a5389d5 {
    --padding-top: 0px;
    --padding-right: 0px;
    --padding-bottom: 52px;
    --padding-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-c3ac371 {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 6px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-ec830ab {
    --margin-top: 0px;
    --margin-right: 0px;
    --margin-bottom: 6px;
    --margin-left: 0px;
  }

  .elementor-2 .elementor-element.elementor-element-d878d66>.elementor-widget-container {
    margin: 0px 0px 0px 0px;
  }

  .elementor-2 .elementor-element.elementor-element-5d121ba {
    --gap: 12px;
  }
}




.elementor-widget-image-carousel .swiper,
.elementor-widget-image-carousel .swiper-container {
  position: static;
}

.elementor-widget-image-carousel .swiper-container .swiper-slide figure,
.elementor-widget-image-carousel .swiper .swiper-slide figure {
  line-height: inherit;
}

.elementor-widget-image-carousel .swiper-slide {
  text-align: center;
}

.elementor-image-carousel-wrapper:not(.swiper-container-initialized) .swiper-slide,
.elementor-image-carousel-wrapper:not(.swiper-initialized) .swiper-slide {
  max-width: calc(100% / var(--e-image-carousel-slides-to-show, 3));
}


.feature-grid {
  display: flex;
  gap: 0;
  border: 1px solid #d8e2f0;
  border-radius: 24px;
  margin-top: 30px;
}

.feature-card {
  flex: 1;
  padding: 30px;
  text-decoration: none;
  color: #000;
  border-right: 1px solid #d8e2f0;
  transition: all 0.45s ease;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  padding-bottom:120px;
}
.feature-card.pricing {
   padding-bottom:120px;
}
.feature-card .elementor-widget-container {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: auto;
}
.feature-card .elementor-button-wrapper {
  text-align: center;
}
.feature-card .elementor-button-wrapper a{
  width: 75%;
}
.feature-card:last-child {
  border-right: none;
}

.feature-card .number {
  display: block;
  margin-bottom: 40px;
  color: #7c8fb2;
  font-size: 14px;
  letter-spacing: 3px;
}

.icon-box {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 16px;

  background: rgba(86, 123, 255, 0.08);
  margin-bottom: 40px;

  font-size: 28px;
}

.feature-card h3 {
  font-size: 21px;
  line-height: 1.15;
  margin-bottom: 24px;
}

.feature-card p {
  line-height: 1.4;
  color: var(--heading-color);
}

.feature-grid:hover .feature-card {
  opacity: 0.65;
  transform: scale(0.97);
}

.feature-grid:hover .feature-card:hover {
  opacity: 1;
  z-index: 10;

  transform: translateY(-18px) scale(1.04);

  background: #f8fbff;

  box-shadow:
    0 25px 60px rgba(18, 43, 92, 0.12),
    0 10px 20px rgba(18, 43, 92, 0.08);
}

.t4e-flow {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
  width: 86%;
  position: absolute;
  bottom: 20px;
  border-top: 1px solid #e4e0e0;
  padding-top: 20px;
  
}

.flow-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  /* min-width: 110px; */
  height: 35px;
  padding: 0 15px;
  border: 1px solid #cfd8e6;
  border-radius: 6px;
  background: #f7f9fc;
  color: var(--heading-color);
  font-size: 13px;
  font-family: monospace;
  text-decoration: none;
  transition: all 0.3s ease;
}

.flow-item:hover {
  background: #ffffff;
  border-color: #07A7E1;
  color: #07A7E1;

  transform: translateY(-6px) scale(1.05);

  box-shadow: 0 12px 30px rgba(79, 124, 255, 0.15);
}

.flow-arrow {
  background-image: linear-gradient(180deg, #07A7E1 35%, #0B2770 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 18px;
  font-weight: 600;
}

.pricing-features {
  list-style: none;
  padding: 0;
  margin: 0;
}

.pricing-features li {
  position: relative;
  padding-left: 24px;
}

.pricing-features li::before {
  content: "✓";
  position: absolute;
  left: 0;
  top: 2px;

  color: #07a7e1;
  font-size: 16px;
  font-weight: bold;
}

.price-status {
  background-image: linear-gradient(180deg, #07A7E1 35%, #0B2770 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 20px;
}
.green-label{
  color: green;
  font-style: italic;
  font-size: 12px;
  margin-bottom: 10px;
}
.grey-label{
  color: rgb(34, 35, 34);
  font-style: italic;
  font-size: 12px;
  margin-bottom: 10px;
}